.navbar {
  width: 100%;
  background: #000;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
}

.yellow {
  color: #f5b300;
}

.nav-links {
  display: flex;
  gap: 30px;
  font-size: 16px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f5b300;
}

.create-btn {
  font-weight: bold;
}

.logout-btn {
  background: #f5b300;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #ffaa00;
}
