.create-wrapper {
  max-width: 850px;
  margin: 100px auto;
  background: #0f0f0f;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(255, 183, 0, 0.15);
  color: #fff;
}

.create-title {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 30px;
  color: #ffb800;
  font-weight: 700;
}

.create-form label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #bbb;
}

.create-form input,
.create-form textarea {
  background: #1b1b1b;
  border: 1px solid #333;
  border-radius: 10px;
  color: white;
  padding: 12px;
  width: 100%;
  font-size: 15px;
  margin-bottom: 20px;
}

.create-form textarea {
  height: 140px;
  resize: none;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-row div {
  flex: 1;
}

.create-btn {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  background: #ff9d00;
  border: none;
  border-radius: 12px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.create-btn:hover {
  background: #ffc241;
  transform: translateY(-2px);
}
