.projects-container {
  padding: 40px;
  color: white;
}

.projects-title {
  font-size: 2.4rem;
  font-weight: bold;
}

.projects-subtext {
  display: block;
  width: 100%;
  text-align: center;

  color: #cfcfcf;
  margin-top: 5px;
  margin-bottom: 35px;

  font-family: "Poppins", "Inter", "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.8px;

  /* Smooth subtle glow and premium style */
  background: linear-gradient(90deg, #ffe08a, #ffb400);
  -webkit-background-clip: text;
  color: transparent;

  text-shadow: 0px 0px 6px rgba(255, 183, 0, 0.25);
}



.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 25px;
}

.project-card {
  background: #0e1320;
  border: 1px solid #2f3135;
  border-radius: 15px;
  padding: 22px;
  transition: 0.3s;
}

.project-card:hover {
  border-color: #ffb400;
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.desc {
  margin-top: 10px;
  color: #c6cdd5;
}

.tags {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tag {
  background: #1f2533;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: #cdd3dd;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.members {
  font-size: 14px;
}

.details-btn,
.action-btn,
.leave-btn,
.owner-btn,
.disabled-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.action-btn {
  background: #ffb400;
  border: none;
}

.leave-btn {
  background: #ff5a5a;
  border: none;
}

.owner-btn {
  background: #4462ff;
  border: none;
}

.disabled-btn {
  background: #4d4d4d;
  cursor: not-allowed;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #121824;
  padding: 30px;
  border-radius: 15px;
  width: 450px;
  text-align: center;
  color: white;
  border: 1px solid #333;
}

.close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ffb400;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}
